
<header class="page-header">
  <h1>Create Profile</h1>
</header>


<form action="/profile/new" method="post">

  <!-- User -->
  <div class="form-group">
    <label for="user_username">Username</label>
    <input type="text" class="form-control" id="user_username" name="user[username]">
  </div>

  <div class="form-group">
    <label for="user_email">Email</label>
    <input type="email" class="form-control" id="user_email" name="user[email]">
  </div>


  <!-- User Profile Gender -->
  <div class="form-group">
    <label>Gender</label>
    <div class="radio">
      <label>
        <input type="radio" value="m" name="user[profile][gender]"checked="checked"> Male
      </label>
      <label>
        <input type="radio" value="f" name="user[profile][gender]"> Female
      </label>
    </div>
  </div>

  <!-- User Profile Image -->
  <div class="form-group">
    <label for="user_profile_image">Image URL</label>
    <input type="text" class="form-control" id="user_profile_image" name="user[profile][image]">
  </div>

<!-- User Profile Age -->
  <div class="form-group">
    <label for="user_profile_age">Age</label>
    <input type="text" class="form-control" id="user_profile_age" name="user[profile][age]">
  </div>

  <div class="form-group">
    <label for="user_profile_height">Height</label>
    <select id="user_profile_height" name="user[profile][height]" class="form-control">
      <option value="Gnome">Gnome</option>
      <option value="Dwarf">Dwarf</option>
      <option value="Neohominid">Neohominid</option>
      <option value="Blacksmith">Blacksmith</option>
      <option value="Son of Odin">Son of Odin</option>
    </select>
  </div>

  <div class="form-group">
    <label for="user_profile_body_type">Body Type</label>
    <select name="user[profile][body_typeid]" id="user_profile_body_type" class="form-control">
      {{#each bodyTypes as |type| }}
        <option value="{{ type.id}}">{{ type.type }}</option>
      {{/each }}
    </select>
  </div>

<!-- User Profile Location -->
  <div class="form-group">
    <label for="user_profile_location">Location</label>
    <select name="user[profile][locationid]" id="user_profile_location" class="form-control">
      {{#each locations as |location| }}
        <option value="{{ location.id }}">{{ location.city }}, distance: {{ location.distance }}</option>
      {{/each }}
    </select>
  </div>

<!-- User Profile Marital Status -->
  <div class="form-group">
    <label for="user_profile_maritalStatus">Marital Status</label>
    <select name="user[profile][maritalid]" id="user_profile_maritalStatus" class="form-control">
      {{#each maritalStatuses as |maritalStatus| }}
        <option value="{{ maritalStatus.id }}">{{ maritalStatus.status }}</option>
      {{/each }}
    </select>
  </div>

  <div class="form-group">
    <label for="user_profile_education">Education</label>
    <select name="user[profile][educationid]" id="user_profile_education" class="form-control">
      {{#each educations as |education| }}
        <option value="{{ education.id }}">{{ education.level }}</option>
      {{/each }}
    </select>
  </div>
  <!-- User Profile Occupation-->
  <div class="form-group">
    <label for="user_profile_occupation">Occupation</label>
    <select name="user[profile][occupationid]" id="user_profile_occupation" class="form-control">
      {{#each occupations as |occupation| }}
        <option value="{{ occupation.id }}">{{ occupation.name }}</option>
      {{/each }}
    </select>
  </div>

  <!-- User Profile Pet-->
  <div class="form-group">
    <label for="user_profile_pet">Pet</label>
    <select name="user[profile][petid]" id="user_profile_pet" class="form-control">
      {{#each pets as |pet| }}
        <option value="{{ pet.id }}">{{ pet.species }}</option>
      {{/each }}
    </select>
  </div>

  <div class="form-group">
    <label for="user_profile_talents">Talents</label>
    <input type="text" class="form-control" id="user_profile_talents" name="user[profile][talents]">
  </div>

  <div class="form-group">
    <label for="user_profile_favorite_things">Favorite Things</label>
    <input type="text" class="form-control" id="user_profile_favorite_things" name="user[profile][favorite_things]">
  </div>

  <div class="form-group">
    <label for="user_profile_about">About</label>
    <textarea class="form-control" id="user_profile_about" name="user[profile][about]" rows="3"></textarea>
  </div>

  <div class="form-group">
    <label for="user_profile_why_message">Why Should You Message Me?</label>
    <textarea class="form-control" id="user_profile_why_message" name="user[profile][why_message]" rows="3"></textarea>
  </div>



  <div class="form-group">
    <input type="submit" class="btn btn-primary">
  </div>
</form>
