
<header class="page-header">
  <h1>Create Profile</h1>
</header>


<form action="/profiles/new" method="post">

  <!-- User -->
  <div class="form-group">
    <label for="user_username">Username</label>
    <input type="text" class="form-control" id="user_username" name="user[username]">
  </div>

  <div class="form-group">
    <label for="user_email">Email</label>
    <input type="email" class="form-control" id="user_email" name="user[email]">
  </div>


  <!-- User Profile Gender -->
  <div class="form-group">
    <label>Gender</label>
    <div class="radio">
      <label>
        <input type="radio" value="m" name="user[profile][gender]"checked="checked"> Male
      </label>
      <label>
        <input type="radio" value="f" name="user[profile][gender]"> Female
      </label>
    </div>
  </div>

  <!-- User Profile Image -->
  <div class="form-group">
    <label for="user_profile_image">Image URL</label>
    <input type="text" class="form-control" id="user_profile_image" name="user[profile][image]">
  </div>

<!-- User Profile Age -->
  <div class="form-group">
    <label for="user_profile_age">Age</label>
    <input type="text" class="form-control" id="user_profile_age" name="user[profile][age]">
  </div>

<!-- User Profile Location -->
  <div class="form-group">
    <label for="user_profile_location">Location</label>
    <select name="user[profile][location]" id="user_profile_location" class="form-control">
      {{#each locations as |location| }}
        <option value="{{ location.id }}">{{ location.city }}, distance: {{ location.distance }}</option>
      {{/each }}
    </select>
  </div>

<!-- User Profile Marital Status -->
    <div class="form-group">
    <label for="user_profile_maritalStatus">Marital Status</label>
    <select name="user[profile][maritalStatus]" id="user_profile_maritalStatus" class="form-control">
      {{#each maritalStatuses as |maritalStatus| }}
        <option value="{{ maritalStatus.id }}">{{ maritalStatus.status }}</option>
      {{/each }}
    </select>
  </div>

  <!-- User Profile Occupation-->
    <div class="form-group">
    <label for="user_profile_occupation">Occupation</label>
    <select name="user[profile][occupation]" id="user_profile_occupation" class="form-control">
      {{#each occupations as |occupation| }}
        <option value="{{ occupation.id }}">{{ occupation.name }}</option>
      {{/each }}
    </select>
  </div>

  <!-- User Profile Pet-->
    <div class="form-group">
    <label for="user_profile_pet">pet</label>
    <select name="user[profile][pet]" id="user_profile_pet" class="form-control">
      {{#each pets as |pet| }}
        <option value="{{ pet.id }}">{{ pet.species }}</option>
      {{/each }}
    </select>
  </div>


  <!-- Job Application -->
  <div class="form-group">
    <label for="job_application_desired_position">Desired Position</label>
    <input type="text" id="job_application_desired_position" name="job_application[desired_position]" class="form-control" value="Storage Room B">
  </div>

  <div class="form-group">
    <div class="checkbox">
      <label>
        <input type="checkbox" id="job_application_currently_employed" name="job_application[currently_employed]" value="true" checked="checked"> Currently Employed
      </label>
    </div>
  </div>


  <!-- User Education -->
  <div class="form-group">
    <label for="user_educations_high_school_name">High School</label>
    <input type="text" id="user_educations_high_school_name" name="user[educations][0][name]" class="form-control" value="Ridgemont High">
    <input type="hidden" name="user[educations][0][type]" value="highschool">
  </div>

  <div class="form-group">
    <label for="user_educations_college_name">College</label>
    <input type="text" id="user_educations_college_name" name="user[educations][1][name]" class="form-control" value="Harrison University">
    <input type="hidden" name="user[educations][1][type]" value="college">
  </div>


  <!-- User Skills -->
  <div class="form-group">
    <label for="user_skills_1">Skills</label>
    <input type="text" id="user_skills_1" name="user[skills][]" class="form-control" value="JavaScript">
  </div>

  <div class="form-group">
    <label for="user_skills_2">Skills</label>
    <input type="text" id="user_skills_2" name="user[skills][]" class="form-control" value="HTML">
  </div>

  <div class="form-group">
    <label for="user_skills_3">Skills</label>
    <input type="text" id="user_skills_3" name="user[skills][]" class="form-control" value="CSS">
  </div>

  
  <div class="form-group">
    <input type="submit" class="btn btn-primary">
  </div>
</form>

